<app-scrollable-tab
  [menus]="TopMenus"
  backgroundColor="red"
  titleActiveColor="yellow"
  titleColor="#fff"
  indicatorColor="yellow"
  (tabSelected)="handleTabSelected($event)"
>
</app-scrollable-tab>
<app-image-slider #imageSlider  [sliders]="imageSliders"></app-image-slider>
<app-horizontal-grid>
  <span appGridItem *ngFor="let item of channels">
    <img [src]="item.icon" alt="" [appGridItemImage]="'4rem'" [fitMode]="'cover'">
    <span appGridItemTitle="0.5rem">{{item.title}}</span>
  </span>
  <div appGridItem>
    <div [appGridItemImage]="'4rem'" style="background-color: aqua;"></div>
    <span appGridItemTitle="0.5rem">hello</span>
  </div>
</app-horizontal-grid>
