<div *ngIf="selectedTabLink === 'hot' else other">
  <app-image-slider #imageSlider  [sliders]="imageSliders"></app-image-slider>
  <app-horizontal-grid>
    <span appGridItem *ngFor="let item of channels">
      <img [src]="item.icon" alt="" [appGridItemImage]="'4rem'" [fitMode]="'cover'">
      <span appGridItemTitle="0.5rem">{{item.title}}</span>
    </span>
    <div appGridItem>
      <div [appGridItemImage]="'4rem'" style="background-color: aqua;"></div>
      <span appGridItemTitle="0.5rem">hello</span>
    </div>
  </app-horizontal-grid>
</div>

<ng-template #other>
  other works
</ng-template>
<a [routerLink]="[ 'grand' ]">link to grand</a>
<a [routerLink]="[ 'grand' ]" routerLinkActive="active" [queryParams]="{name:'zhangsan'}">link to grand</a>
<!-- <a [routerLink]="[ {outlets:{second:['aux']}} ]" >link to second</a> -->
<router-outlet></router-outlet>
<!-- <router-outlet name="second"></router-outlet> -->

  